<!-- main.html -->





   <!--/.NAVBAR END-->
        
   

</section>
    <!--/.SLIDESHOW END-->
   
    <div class="carousel">
        <div class="carousel__container">
            <button class="carousel__prev">
                <i class='bx bx-chevron-left'></i>
            </button>
            <div class="date_img" id="container-date-img"> </div>
            <div class="carousel__list" style="text-align: center;"></div>
            <button class="carousel__next">
                <i class='bx bx-chevron-right'></i>
            </button>
        </div>
        <div class="carousel__indicator"></div>
    </div>


    <section id="port-sec">
        <div class="container">
            <div class="row pad-row">
                <div class="col-md-12 col-sm-12">
                        <h2 class="cat">Categories</h2>
                        <div id="containerCategories"></div>                    
                </div>
            </div>
        </div>
    </section>



    <section id="port-sec">
        <div class="container">
            <div class="row pad-row">
                <div class="col-md-12 col-sm-12">
                        <h2 class="cat">operaciones</h2>
                        <div id="containeroperation"></div>                    
                </div>
            </div>
        </div>
    </section>






    <section id="port-sec">
        <div class="container">
            <div class="row pad-row">
                <div class="col-md-12 col-sm-12">
                    <ul class="portfolio-items2 col-4">
                        <h2 class="cat">city</h2>
                        <div id="containerCity"></div>
                    </ul>
                </div>
            </div>
        </div>
    </section>


    <section id="port-sec">
        <div class="container">
            <div class="row pad-row">
                <div class="col-md-12 col-sm-12">
                        <h2 class="cat">tipo</h2>
                        <div id="containertipo"></div>                    
                </div>
            </div>
        </div>
    </section>

    <section id="port-sec">
        <div class="container">
            <div class="row pad-row">
                <div class="col-md-12 col-sm-12">
                    <ul class="portfolio-items2 col-4">
                        <h2 class="cat">mas visitadas</h2>
                        <div id="containervisitas"></div>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="port-sec">
        <div class="container">
            <div class="row pad-row">
                <div class="col-md-12 col-sm-12">
                    <ul class="portfolio-items2 col-4">
                        <h2 class="cat">ultima busqueda</h2>
                        <div id="containerbusqueda"></div>
                    </ul>
                </div>
            </div>
        </div>
    </section>




    <section id="port-sec">
        <div class="container">
            <div class="row pad-row">
                <div class="col-md-12 col-sm-12">
                    <ul class="portfolio-items2 col-4">
                        <h2 class="cat">recomend</h2>
                        <div id="containerrecommend"></div>
                    </ul>
                </div>
            </div>
        </div>
    </section>
   



    <!--/.INTRO END-->
      <section id="offer"  >
           <div class="container">
           <div class="row   alert alert-info" >
                 <div class="col-md-8 col-sm-8">
                      <h1>  Download Deatils Now For Latest Offers</h1>
                 </div>
                 <div class="col-md-4 col-sm-4" style="padding-top: 15px;">
                     <a href="#" class=" btn btn-primary btn-lg">GRAB IT HERE NOW</a> 
                 </div>
                          
               </div>
               </div>
      </section>
      <!--/.OFFFER END-->
         <section id="just-intro">
             <div class="container">
             <div class="row text-center pad-row">
            <div class="col-md-4  col-sm-4">
                 <i class="fa fa-desktop fa-5x"></i>
                            <h4> <strong>Sure Quique Menu</strong> </h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </p>
                       <a href="#" class="btn btn-primary" >Read Details</a>    
                </div>
             <div class="col-md-4  col-sm-4">
                 <i class="fa fa-flask  fa-5x"></i>
                            <h4> <strong>Sure Quique Menu</strong> </h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </p>
                           <a href="#" class="btn btn-primary" >Read Details</a>
                </div>
            <div class="col-md-4  col-sm-4">
                  <i class="fa fa-pencil  fa-5x"></i>
                            <h4> <strong>Sure Quique Menu</strong> </h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                         Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </p>
                       <a href="#" class="btn btn-primary" >Read Details</a>    
                </div>
                    
            </div>
                 </div>
         </section>
     <!--/.JUST-INTRO END-->
   
<div id="main-content">
    <!-- ... -->
</div>
