
        <!-- list-vivienda -->

        <div class="filters" id="filters"style="margin-top: 120px;"> </div>

        <div id="pagination-top" class="pagination-container"></div>


        <!-- <div class="containerinshop">
            <div class="container_shop" id="content_shop_vivienda" style="margin-top: 120px;"></div>
            <div id='map' style='width: 500px; height: 500px;'></div>
        </div> -->
        
        <div class="containerinshop">
            <div class="container_shop" id="content_shop_vivienda" style="margin-top: 120px;"></div>
            <div id='map-container'>
                <div id='map'></div>
            </div>
            <div id="pagination-bottom" class="pagination-container"></div>
        </div>
    

        <!-- details-vivienda -->
        <div id="details-shop">
            <div class="date_img" id="container-date-img"> </div>
            <div class="date_vivienda" id="container-date-img"> </div>
            <div class="results"></div>
        </div>


    



 
   

  
